/* 
html5doctor.com Reset style sheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  font-family: "Open Sans", Zoram, "noto sans", Helvetica, Arial, sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

li {
  list-style: none;
  display: inline;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text: rgb(84, 195, 230);
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}
/* my css */
  
a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: #0a48d8;
}

.aaMealType{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 96%;
  margin:15px 5px;
  padding: 2px;
  border: solid 2px rgb(112, 112, 248);
  background-color:#c5dbf3;  
}

.aatext {
  font-weight: 100;
  margin:0 5px 3px 5px;
}

.aatitle {
  font-weight: Bold;
  margin-bottom: 5px;
}

.aatopic {
  display: block;
  margin-left: 10px;
  font-size: 1em;
}

.about-expect {
  width: 90%;
  margin: 0 5%;
}
  
.about-header-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-image {
  border-radius: 50%;
  max-width: 220px;
}

.about-main {
  font-family: "Open sans";
  margin: 100px 5% 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.body-spacing {
  min-height: calc(100vh - 100px - 200px);
}

.c-logo {
  height: 120px;
  width: 120px;
}

.company-container {
  margin-top: 20px;
  margin-left: 5%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.companywrapper {
  margin-top:10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
}

.dropdown {
  position: fixed;
  width: 100%;
  top: 60px;
  left: 0;
  font-family: "Open sans";
  background-color: #fff;
  color: #0a48d8;
  overflow: hidden;
  transition-timing-function: all 1s ease;
}

.dropDownNoShow {
  height: 0;
}

.dropDownShow {
  min-height: 250px;
}

.feast-text{
  margin: 10px 15px;
  text-align: left;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.footer-main {
  position: relative;
  bottom: 0;
  width: 100%;
  min-height: 80px;
  background-image: url(../images/footer-bg1.jpg);

}
.footer-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  padding: 10px 0;
  font-family: "Open sans";
  font-weight: 700;
  color: #333;
  background-color: rgba(255, 255, 255, 0.2);
}
   
.footer-spacer {
  overflow: auto;
  padding-bottom: 1px;
} 

.header-spacer {
  height: 100px;
  width: 100%;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.landing-hero {
  margin: 1% 0 50px 0;
  width: 70%;
  background-repeat: none;
  background-size: cover;
  text-align: center;
  font-family: "Open sans";
  font-weight: 300;
}

.login-box{
  position: absolute;
  z-index: 4;
  top: 2px;
  right:15%; 
}

.meal-text{
  font-size: 16px;
}

.meal-title {
  width: 100%;
  margin: 20px 0 40px 0;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}
  
.meal-title-wrapper {
  width: 100%;
  margin: 20px 50px 40px 0;
  text-align: center;
}

.menu-box {
  position: absolute;
  z-index: 3;
  right: 15%;
  top: 20px;
  height: 120px;
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  color: #fff;
  font-weight: 300;
}

.menu-header-date {
  height: 60px;
  font-size: 18px;
  margin-right: 30px;
  margin-top: 3px;
}

.menu-items-holder {
  height: 120px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.menu-header-word {
  width: 120px;
  letter-spacing: 1.6;
  font-size: 26px;
  margin-left: 5px;
  margin-top: 5px;
}

.menu-btn {
  margin-top: 7px;
  height: 45px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.menu-btn .btn-line {
  width: 45px;
  height: 2.5px;
  margin: 0 0 3px 0;
  background: #fff;
  transition: all 0.5s ease-out;
}
.menu-btn.close {
  transform: rotate(180deg);
  transform-origin: 8px 3px;
}
.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(1px, -1px);
}
.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}
.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.my-purchases-details-wrapper{
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: larger;
  justify-content: space-evenly;
}

.my-purchases-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: space-around;
  align-content: space-between;
  margin: 20px;
}

.my-purchases-title{
  font-size: 22px;
  text-align: center;
  margin: 20px;
}

nav {
  display: none;
  justify-content: space-evenly;
  width: 300px;
}

.navbar {
  width: 100%;
  height: 100px;
  background-image: url(../images/modal-bg22.gif);
  background-repeat: repeat;
  background-size: 100%;
  font-family: "Open Sans", Zoram, "noto sans", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: row;
  z-index: 1;
}

.navbar > section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  color: white;
  margin: 0 auto;
}

.navbar-header-links {
  width: 70%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  margin: 20px 15% 30px 15%;
  padding-top: 30px;
  line-height: 32px;
  font-weight: 300;
  border-bottom: 1px solid #c5c1c1;
}

.navbar-header-link-words {
  display: flex;
  flex-direction: row;
}

.navbar-header-link-word {
  margin: 0 15px 20px 10px;
}

.navbar-icons {
  margin-left: 20%;
}
.navbar-icons i {
  margin: 0 10px;
}

.navbar-body-wrapper {
  font-size: 18px;
}

.navbar-column-link-wrapper {
  width: 70%;
  margin: 20px 15%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: 500;
  color: #0a48d8;
  justify-content: flex-start;
  align-items: flex-start;
}

.navbar-column-link-box {
  width: 260px;
  margin: 10px 5px 20px 0;
  display: flex;
  flex-direction: column;
}

.navbar-column-title {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
  text-align: left;
}

.navbar-column-link {
  text-align: left;
  font-size: 16px;
  line-height: 1.2;
  margin: 5px 0;
  cursor: pointer;
}

.navbar-column-link:hover {
  color: #53565a;
}

.prep-title {
  width: 100%;
  margin: 20px 0 40px 0;
  text-align: center;
  font-size: 36px;
  font-weight: 300;
}

.prep-boxes-container {
  width: 80%;
  margin-left: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-family: "Open sans";
}

.prep-box {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 70px;
}

.prep-images {
  width: 300px;
}

.prep-text {
  width: 300px;
  font-size: 16px;
  font-weight: 300;
}

.prep-box h2 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 22px;
  font-style: italic;
}

.profile-name{
  font-weight: 700;
  }
  
.profile-holder {
  width: 100%;
  padding:0px 10px;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 300;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.snk-vids{
  padding: 0 10px;
  margin-bottom: 40px;
}

.unauthorized{
  margin-top: 400px;
  font-weight: bolder;
  font-size: 2em;
  text-align: center;
}

@media (min-width: 276px) {
   
  .about-expo-feature-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: flex-start;
    width: 98%;
    margin: 0 1%;
    text-align: center;
  }
  .about-expo-feature-box > a > p {
    text-decoration: none;
    color: #333;
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: 30px;
  }

  .about-image {
    border-radius: 50%;
    height: 220px;
    max-width: 660px;
    margin-bottom: 20px;
  }

  .about-main {
    width: 90%;
    margin: 0 5%;
    font-family: "Open sans";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-main-text {
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 3% 25px 3%;
  }

  .about-main-title {
    margin: 5px 0 20px 0;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
  }

  .about-sub-text {
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    margin: 20px 3%;
  }

  .about-sub-title {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
  }

  .about-sub-title {
    margin-top: 5px;
    font-size: 1.6 rem;
    font-weight: 700;
  }

  .c-company{
    width: 120px;
    height:30px;
  }

  .c-tag{
   height: 30px;
   visibility: visible;
  }

  .c-logo {
    margin: 10px 10px 5px 0;
    height: 50px;
    width: 50px;
  }

  .company-container {
    margin-top: 1px;
    margin-left: 1%;
    width: 25%;
    height: 100%;
  }
  
  .digdeeper-text {
    font-size: 18px;
    line-height: 1.5;
    margin: 0 15px 20px 15px;
  }

  .digdeeper-title {
    font-size: 22px;
    font-weight: bolder;
    margin: 30px 0 20px 0;
  }

  .digdeeper-wrapper {
    text-align: center;
    margin-bottom: 0 20px 20px 20px;
  } 

  .dropdown {
    top: 100px;
  }

  .dropDownShow {
    max-height: 100vh;
    overflow-y: scroll;
    z-index: 3;
  }

  .login-box{
    position: absolute;
    z-index: 4;
    top: 8px;
    right:5%; 
    font-size: 12px;
  }

  .login-button{
    font-size: 20px;
    font-weight: 400;
    background-color: royalblue;
    color: white;
    border-style:solid;
    border-color: darkblue;
    height: 100%;
    width: 80%;
    margin: 15px;
  }

  .login-button a{
    color: white;
  }

  .header-spacer {
    height: 80px;
  }

  .inst-vids {
    
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    align-content: center;
  }
  
  .inst-vids-container {
    font-size: larger;
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inst-vids-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 10px 15px 10px 15px;
  }

  .land-meal-type {
    margin-top: 20px;
  }

  .landing {
    width: 98%;
    margin: 0 1%;
  }
  
  .landing-hero {
    width: 98%;
    background-image: none;
    margin: 10px 1% 10px 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .landing-herovid {
    width: 90%;
    height:200px;
  }

  .landing-hero-img {
    visibility: visible;
    height: 110px;
    width: 300px;
  }

  .meal-boxes-container{
    margin:10px 10px;
  }
  
  .meal-text {
    font-weight: 300;
    margin: 0 15px 20px 15px;
  }

  .meal-title {
    font-weight: bolder;
    margin: 20px 0 20px 0;
    font-size: 24px;
  }

  .menu-btn {
    margin-top: 10px;
  }

  .menu-btn .btn-line {
    width: 15px;
    height: 1.5px;
  }

  .menu-box {
    position: absolute;
    z-index: 5;
    right: 15%;
    top: 35px;
    height: 30px;
    width: 13%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    color: #fff;
    font-weight: 100;
  }

  .menu-header-word {
    margin-top: 8px;
    font-size: 14px;
    font-weight: bold;
  }

  .menu-items-holder {
    height: 80px;
    width: 60px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    padding-left: 60px;
    margin-right: 10px;
  }

  .navbar {
    flex-direction: column;
    height: 80px;
  }

  .navbar-header-links {
    width: 90%;
    min-height: 280px;
    flex-direction: column-reverse;
    font-size: 16px;
    margin: 0 5%;
    line-height: 1;
  }
  .navbar-header-link-words {
    flex-direction: column;
  }
  .navbar-header-link-word {
    margin: 15px 15px 15px 10px;
  }
  .navbar-icons {
    margin-left: 60%;
    margin-bottom: 15px;
  }
  .navbar-icons i {
    margin: 0 10px;
  }

  .overlay-promo {
    color: #333;
    font-size: 28px;
    margin: 30px 3% 10px 3%;
    font-weight: 500;
  }

  .overlay-promo-subtitle {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .overlay-promo-text {
    color: #333;
    line-height: 1.5;
    margin: 15px 5%;
    font-size: 18px;
    font-weight: 500;
  }

  .prep-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 1% 60px 1%;
  }
  .prep-box h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    font: black;
  }
 
  .prep-boxes-container {
    width: 98%;
    margin: 0 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .prep-title {
    margin: 10px 0 20px 0;
    font-size: 24px;
    font-weight: 500;
    color: #333;
  }

  .prep-text > p {
    margin:0 15px;
    font-size: 16px;
    text-align: center;
  }

  .recipe-title{
    font-style: italic;
    font-weight: bold;
  }

  .recipe-vids {
    margin:5px 10px 25px 10px;
  }

  .recipe-vids-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 10px 15px 10px 15px;
  }

  .recipes-wrapper{
    font-size: large;
    Margin:5px 30px 5px 30px;
    text-align: left;
  }

  .recipes-wrapper h1{
    font-size: larger;
  }

  .vid-wrapper {
    width: 80%;
    margin: 10px 10%;
  }

  .week-wrapper {
    align-items: center;
    font-size: 1em;
  }

  .week-wrapper h1{
    font-style: italic;
    font-size: 22px;
  }
}

@media(min-width:333px){
  
  .login-btn{
    font-size: 18px;
  }

  .menu-items-holder{
    margin-right: 0;
    padding-left: 80px;
  } 
  
  .prep-text > p {
    margin:0 5px;
  }
}

@media (min-width: 539px) {


  .login-box{
    top: 10px;
    right: 50px;
  }

  .login-btn{
    font-size: 16px;
  }

  .login-button{
    font-size: 22px;
  }
}

@media (min-width: 768px) {

  .about-main {
    font-family: "Open sans";
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-main-title {
    margin: 40px 0;
    font-size: 54px;
    font-weight: 400;
    text-align: center;
  }
  .about-main-text {
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 5% 35px 5%;
  }

  .about-sub-title {
    font-size: 44px;
    font-weight: 400;
    text-align: center;
  }

  .about-sub-text {
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    margin: 20px 5%;
  }

  .about-image {
    border-radius: 50%;
    max-width: 880px;
    margin-bottom: 30px;
  }

  .c-company {
    width: 60%;
    height: 70%;
  }

  .c-logo {
    margin: 15px 0 10px 5px;
    width: 100px;
    height: 100px;
  }

  .c-tag {
   width: 90%;
    height: 60%;
  }

  .company-container {
    margin-top: 5px;
    width: 80%;
    height: 100%;
  }
  
  .dropdown {
    top: 150px;
  }


  .free-body{
    margin-top: 80px;
  }

  .inst-vids-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .landing-hero {
    width: 98%;
    background-image: none;
    margin: 90px 1% 10px 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .landing-herovid{
    margin-bottom: 20px;
    width:90%;
    height:360px;
  }

  .login-box{
    position: absolute;
    z-index: 4;
    top: 30px;
    right:8%; 
    
  }

  .login-btn{
    font-size: 18px;
  }
  
  .meal-title-wrapper {
    width: 100%;
    margin: 70px 10px 40px 0;
    text-align: center;
  }

  .menu-box {
      position: absolute;
      z-index: 5;
      right: 5%;
      top: 30px;
      height: 60px;
      width: 23%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-start;
      color: #fff;
      font-weight: 300;
  }

  .menu-btn {
    margin-top: 25px;
  }

  .menu-btn .btn-line {
    width: 20px;
    height: 1.5px;
  }

  .menu-header-word {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }

  .menu-items-holder{
    margin-top: 10px;
    padding-top: 20px;
  }
  
  .navbar {
    flex-direction: column;
    height: 150px;
  }

  .navbar-column-link-wrapper {
    width: 90%;
    margin: 20px 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .navbar-header-links {
    width: 90%;
    min-height: 280px;
    flex-direction: column-reverse;
    font-size: 16px;
    margin: 0 5%;
    line-height: 1;
  }
  .navbar-header-link-words {
    flex-direction: column;
  }
  .navbar-header-link-word {
    margin: 15px 15px 15px 10px;
  }
  .navbar-icons {
    margin-left: 60%;
    margin-bottom: 15px;
  }
  .navbar-icons i {
    margin: 0 10px;
  }

  .nibble-wrapper {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin: 20px 30px;
  }
  .prep-box {
    width: 40%;
  }

  .prep-boxes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }

  .recipe-vids-wrapper {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin: 10px 15px 10px 15px;
  }

  .snk-vids {
    margin-bottom: 40px;
  }

  .week-wrapper{
    margin: 20px;
  }

  .week-wrapper h1{
    font-size: 24px;
  }
}

@media (min-width: 950px) {

  .about-image {
    border-radius: 50%;
    max-width: 880px;
    margin-bottom: 30px;
  }
  .about-main {
    font-family: "Open sans";
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-main-text {
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 5% 35px 5%;
  }

  .about-main-title {
    margin: 40px 0;
    font-size: 54px;
    font-weight: 400;
    text-align: center;
  }

  .about-sub-text {
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    margin: 20px 5%;
  }

  .about-sub-title {
    font-size: 44px;
    font-weight: 400;
    text-align: center;
  }

  .c-tag {
    width: 550px;
  }

  .companywrapper {
margin-top: 10px;
  }

  .digdeeper-text {
    font-size: 32px;
    margin: 0 10px 40px 10px;
  }

  .digdeeper-title {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 20px;
  }

  .digdeeper-wrapper {
    text-align: center;
  }

    .dropdown {
    top: 180px;
  }

  .free-body{
    margin-top:120px;
  }
 
  .inst-vids {
    font-size: large;
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
  }

  .inst-vids h2 {
    font-size: larger;
    margin-top: 10px;
    width: 100%;
  }

  .inst-vids-container {
    margin: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }

  .landing-hero {
    width: 98%;
    background-image: none;
    margin: 120px 1% 20px 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .landing-herovid {
    width: 90%;
    height:520px;
  }

  .login-btn{
    font-size: 22px;
  }

  .meal-text {
    font-size: 30px;
    font-weight: 300;
    margin: 10px 50px 50px 50px;
  }

  .meal-title-wrapper {
    width: 100%;
    margin: 120px 150px 40px 0;
    text-align: center;
  }

  .meal-title {
    font-size: 48px;
    font-weight: bolder;
  }

  .menu-btn {
    margin-top: 17px;
    height: 45px;
    cursor: pointer;
  }

  .menu-btn .btn-line {
    width: 30px;
    height: 4.5px;
    margin: 0 0 3px 0;
    background: #fff;
  }

  .menu-btn.close {
    transform: rotate(180deg);
    transform-origin: 10px 6px;
  }
  .menu-btn.close .btn-line:nth-child(1) {
    transform: rotate(45deg) translate(1px, -0px);
  }
  .menu-btn.close .btn-line:nth-child(2) {
    opacity: 0;
  }
  .menu-btn.close .btn-line:nth-child(3) {
    transform: rotate(-45deg) translate(9px, -9px);
  }

  .menu-header-word {
    width: 120px;
    letter-spacing: 1.6;
    font-size: 24px;
    margin-left: 15px;
    margin-top: 15px;
  }

  .menu-items-holder{
    margin-top: 40px;
  }

  .navbar{
    height: 180px;
  }

  .nibble-main {
    margin-top: 100px;
    margin-bottom: 40px;
  }

  .overlay-promo {
    font-size: 40px;
    margin: 1% 14% 30px 14%;
  }

  .overlay-promo-text {
    line-height: 1.5;
    margin: 15px 15%;
    font-size: 18px;
    color: #333;
  }

  .prep-box {
    display: flex;
    flex-direction: column;
    width: 45%;
    min-height: 450px;
    margin-bottom: 50px;
    
  }

  .prep-boxes-container {
    width: 90%;
    margin: 0 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    font-family: "Open sans";
  }

  .prep-title {
    width: 100%;
    margin: 10px 0 40px 0;
    text-align: center;
    font-size: 36px;
    font-weight: 300;
  }

  .recipe-vids {
    margin:5px 10px 25px 10px;
  }

  .week-wrapper{
    margin: 5px 40px 25px 40px;
  }

}

@media (min-width: 1200px) {
  .aaMealType{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    margin-left: 40px;
    padding: 10px;
    border: solid 2px rgb(112, 112, 248);
    background-color:#c5dbf3;  
  }

  .aatext {
    font-weight: 100;
    margin-left: 5px;
  }

  .aatitle {
    font-weight: Bold;
  }

  .aatopic {
    display: block;
    margin-left: 30px;
    font-size: 1.5em;
  }
  
  .about-expo-feature-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: 0 1%;
    text-align: center;
  }
  
  .about-expo-feature-box > a {
    text-decoration: none;
    color: #53565a;
    font-weight: 300;
  }
  
  .about-expo-feature-box > a h1 {
    font-size: 26px;
    color: #53565a;
    font-weight: 400;
  }

  .about-image {
    border-radius: 50%;
    max-width: 880px;
    margin-bottom: 30px;
  }

  .about-main {
    font-family: "Open sans";
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-main-text {
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 5% 35px 5%;
  }

  .about-main-title {
    margin: 40px 0;
    font-size: 54px;
    font-weight: 500;
    text-align: center;
  }

  .about-sub-text {
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    margin: 20px 5%;
  }

  .about-sub-title {
    font-size: 44px;
    font-weight: 400;
    text-align: center;
  }

  .c-company {
    width: 50%;
    height: 120%;
  }

  .c-logo {
    width: 200px;
    height: 200px;
    margin: 20px 0 20px 0;
  }

  .c-tag {
    width: 70%;
    height:100%;
  }

  .company-container {
    margin-top: 0;
    margin-left: 1%;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-content: space-between;
  }

  
  .cst {
    margin-left: 5px;
    font-weight: bold;
    font: 30px;
  }
  
  .digdeeper-text {
    font-size: 32px;
    margin: 0 10px 40px 10px;
  }

  .digdeeper-title {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 20px;
  }
  
  .digdeeper-wrapper {
    text-align: center;
  }

  .dropdown {
    top: 230px;
  }

  .header-spacer {
    height: 200px;
  }

  .iframe-holder{
  padding:0 11%;
    width:400px;
    height:225px;
  }

  .inst-vids-wrapper {
    justify-content: space-around;
    margin: 10px 15px 10px 40px;
  }
  
  .landing-hero {
    margin: 100px 20px 20px 0;
    width: 90%;

    text-align: center;
    font-family: "Open sans";
    font-weight: 300;
  }

  .landing-herovid {
    margin-top: 10px;
    margin-bottom: 20px;
    width:60%;
    height:540px;
  }
  
  .login-box{
    position: absolute;
    z-index: 4;
    top: 30px;
    right:5%; 
  }

  .meal-text {
    font-size: 30px;
    font-weight: 300;
    margin: 10px 50px 50px 50px;
  }

  .meal-title {
    font-size: 48px;
    font-weight: bolder;
  }

  .meal-title-wrapper {
    width: 100%;
    margin: 40px 0 80px 0;
    text-align: center;
  }

  .member-wrapper{
    margin-top: 100px;
  }

  .menu-box {
    position: absolute;
    z-index: 5;
    right: 5%;
    top: 100px;
    height: 60px;
    width: 13%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    color: #fff;
    font-weight: 300;
  }

  .menu-header-date {
    height: 60px;
    font-size: 18px;
    margin-right: 30px;
    margin-top: 3px;
  }
  .menu-items-holder {
    height: 120px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
  }
  .menu-header-word {
    width: 120px;
    letter-spacing: 1.6;
    font-size: 24px;
    margin-left: 15px;
    margin-top: 5px;
  }
  .menu-btn {
    margin-top: 7px;
    height: 45px;
    cursor: pointer;
  }
  .menu-btn .btn-line {
    width: 30px;
    height: 3.5px;
    margin: 0 0 3px 0;
    background: #fff;
  }
  .menu-btn.close {
    transform: rotate(180deg);
    transform-origin: 8px 3px;
  }
  .menu-btn.close .btn-line:nth-child(1) {
    transform: rotate(45deg) translate(0px, -0px);
  }
  .menu-btn.close .btn-line:nth-child(2) {
    opacity: 0;
  }
  .menu-btn.close .btn-line:nth-child(3) {
    transform: rotate(-45deg) translate(9px, -9px);
  }
  
  .my-purchases-details-wrapper{
    margin: 20px;
    display: flex;
    flex-direction: row;
    font-size: larger;
  }

  .my-purchases-container{
    display: flex;
    flex-direction: column;
    align-items: space-around;
    align-content: space-between;
    margin: 20px;
  }

  nav {
    display: none;
    justify-content: space-evenly;
    width: 300px;
  }

  .navbar {
    height: 250px;
    flex-direction: row;
  }

  .navbar > section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    color: white;
    margin: 0 auto;
  }

  .navbar-header-links {
    width: 70%;
    min-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    margin: 20px 15% 30px 15%;
    padding-top: 30px;
    line-height: 32px;
    font-weight: 300;
    border-bottom: 1px solid #c5c1c1;
  }
  .navbar-header-link-words {
    display: flex;
    flex-direction: row;
  }
  .navbar-header-link-word {
    margin: 0 15px 20px 10px;
  }
  .navbar-icons {
    margin-left: 20%;
  }
  .navbar-icons i {
    margin: 0 10px;
  }
  .navbar-body-wrapper {
    font-size: 18px;
  }
  .navbar-column-link-wrapper {
    margin: 20px 5%;
    justify-content: space-around;
  }
  
  .navbar-column-link-box {
    width: 250px;
    margin: 10px 5px 20px 0;
    display: flex;
    flex-direction: column;
  }
  .navbar-column-title {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
    text-align: left;
  }
  .navbar-column-link {
    text-align: left;
    font-size: 16px;
    line-height: 1.2;
    margin: 5px 0;
    cursor: pointer;
  }
  .navbar-column-link:hover {
    color: #53565a;
  }
  
  .nibble-main {
    margin-top: 100px;
    margin-bottom: 40px;
  }

  .overlay-promo {
    color: 333;
    font-size: 54px;
    margin: 0;
  }

  .overlay-promo-text {
    color: 333;
    line-height: 1.5;
    margin: 15px 14%;
    font-size: 18px;
  }
  .prep-title {
    width: 100%;
    margin: 20px 0 40px 0;
    text-align: center;
    font-size: 36px;
    font-weight: 300;
  }

  .prep-boxes-container {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    font-family: "Open sans";
  }
  .prep-box {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-bottom: 70px;
  }
  .prep-images {
    width: 300px;
  }
  .prep-text {
    width: 300px;
    font-size: 16px;
    font-weight: 300;
    font: black;
  }
  .prep-box h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 22px;
    font-style: italic;
    font: black;
  }

  .recipes-wrapper{
    font-size: larger;
    Margin:5px 60px 5px 60px;
    text-align: left;
  }

  .recipe-title{
    font-style: italic;
    font-weight: 600;
  }

  .snk-vids {
    font-size: 25px;
    margin: 25px;
  }

  .week-wrapper {
    font-size: 1.5em;
    font-weight: bold;
  }

}
